
extends layout

block layout-content
  img(src="logo.png")
  div.View
    div.Message
      div.Title
        h1 Treck traffic is an automatic google traffic data analyser and archiver
        p Get to Know about the traffic on our roads
       
     
    div.NavButtons
      a#excelDb(href="./output"  )  Output Database
      a#jsonDb(href="./backup") Database Backup   
      a#archive(href="./archives")
       div.archivefile Download Archive
